<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Maintenance</title>
    </head>
    <body>
        <h1>Site under maintenance, we'll be right back soon</h1>
        <p>
            This site is currently being updated
        </p>
    </body>
</html>